name: kevin
on: [push, pull_request]
jobs:
  tests:
    name: Tests
    strategy:
      matrix:
        ocaml-version: [5.4.0]
        operating-system: [ubuntu-latest]
    runs-on: ${{ matrix.operating-system }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Use OCaml ${{ matrix.ocaml-version }}
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: ${{ matrix.ocaml-version }}
          opam-local-packages: |
            *.opam
      - name: Install dependencies
        run: opam install kevin --verbose-on=kevin
      - name: Check kevin.hvt
        run: file $(opam var bin)/kevin.hvt
